<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>GoodsExchangePlatForm</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/user/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterServlet</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>servlet.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/user/register</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>servlet.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/user/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplayAllItemsServlet</display-name>
    <servlet-name>DisplayAllItemsServlet</servlet-name>
    <servlet-class>servlet.DisplayAllItemsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayAllItemsServlet</servlet-name>
    <url-pattern>/items/display</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PublishItemServlet</display-name>
    <servlet-name>PublishItemServlet</servlet-name>
    <servlet-class>servlet.PublishItemServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PublishItemServlet</servlet-name>
    <url-pattern>/item/publish</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplayImageServlet</display-name>
    <servlet-name>DisplayImageServlet</servlet-name>
    <servlet-class>servlet.DisplayImageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayImageServlet</servlet-name>
    <url-pattern>/image/display</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FindItemById</display-name>
    <servlet-name>FindItemById</servlet-name>
    <servlet-class>servlet.FindItemById</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindItemById</servlet-name>
    <url-pattern>/item/detail</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SwapItemServlet</display-name>
    <servlet-name>SwapItemServlet</servlet-name>
    <servlet-class>servlet.SwapItemServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SwapItemServlet</servlet-name>
    <url-pattern>/item/swap</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplayAllMessage</display-name>
    <servlet-name>DisplayAllMessage</servlet-name>
    <servlet-class>servlet.DisplayAllMessage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayAllMessage</servlet-name>
    <url-pattern>/message/display</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ResolveMessageServlet</display-name>
    <servlet-name>ResolveMessageServlet</servlet-name>
    <servlet-class>servlet.ResolveMessageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResolveMessageServlet</servlet-name>
    <url-pattern>/message/resolve</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminDisplayAllItemsServlet</display-name>
    <servlet-name>AdminDisplayAllItemsServlet</servlet-name>
    <servlet-class>servlet.admin.AdminDisplayAllItemsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminDisplayAllItemsServlet</servlet-name>
    <url-pattern>/admin/items/display</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminDisplayUsersServlet</display-name>
    <servlet-name>AdminDisplayUsersServlet</servlet-name>
    <servlet-class>servlet.admin.AdminDisplayUsersServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminDisplayUsersServlet</servlet-name>
    <url-pattern>/admin/user/display</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminSaveItemServlet</display-name>
    <servlet-name>AdminSaveItemServlet</servlet-name>
    <servlet-class>servlet.admin.AdminSaveItemServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminSaveItemServlet</servlet-name>
    <url-pattern>/admin/item/save</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminItemUpdateServlet</display-name>
    <servlet-name>AdminItemUpdateServlet</servlet-name>
    <servlet-class>servlet.admin.AdminItemUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminItemUpdateServlet</servlet-name>
    <url-pattern>/admin/item/update</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminItemDeleteServlet</display-name>
    <servlet-name>AdminItemDeleteServlet</servlet-name>
    <servlet-class>servlet.admin.AdminItemDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminItemDeleteServlet</servlet-name>
    <url-pattern>/admin/item/delete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminUserAddServlet</display-name>
    <servlet-name>AdminUserAddServlet</servlet-name>
    <servlet-class>servlet.AdminUserAddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminUserAddServlet</servlet-name>
    <url-pattern>/admin/user/add</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminUserEditServlet</display-name>
    <servlet-name>AdminUserEditServlet</servlet-name>
    <servlet-class>servlet.admin.AdminUserEditServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminUserEditServlet</servlet-name>
    <url-pattern>/admin/user/update</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminUserDeleteServlet</display-name>
    <servlet-name>AdminUserDeleteServlet</servlet-name>
    <servlet-class>servlet.admin.AdminUserDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminUserDeleteServlet</servlet-name>
    <url-pattern>/admin/user/delete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminValidateCode</display-name>
    <servlet-name>AdminValidateCode</servlet-name>
    <servlet-class>servlet.admin.AdminValidateCode</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminValidateCode</servlet-name>
    <url-pattern>/admin/validateCode</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminChangePasswordServlet</display-name>
    <servlet-name>AdminChangePasswordServlet</servlet-name>
    <servlet-class>servlet.AdminChangePasswordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminChangePasswordServlet</servlet-name>
    <url-pattern>/admin/changePassword</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FindUserByIdServlet</display-name>
    <servlet-name>FindUserByIdServlet</servlet-name>
    <servlet-class>servlet.FindUserByIdServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindUserByIdServlet</servlet-name>
    <url-pattern>/user/findById</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserUpdateServlet</display-name>
    <servlet-name>UserUpdateServlet</servlet-name>
    <servlet-class>servlet.UserUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserUpdateServlet</servlet-name>
    <url-pattern>/user/update</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserChangePasswordServlet</display-name>
    <servlet-name>UserChangePasswordServlet</servlet-name>
    <servlet-class>servlet.UserChangePasswordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserChangePasswordServlet</servlet-name>
    <url-pattern>/user/changePassword</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplayItemsByNameServlet</display-name>
    <servlet-name>DisplayItemsByNameServlet</servlet-name>
    <servlet-class>servlet.DisplayItemsByNameServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayItemsByNameServlet</servlet-name>
    <url-pattern>/item/displayByName</url-pattern>
  </servlet-mapping>
</web-app>